<!-- best viewed in chrome -->
<!-- <nav class="nav">
  <div class="menu">Menu</div>
</nav> -->

<div class="">
  <%= partial :menu %>
</div>


<header>
  <h1>ザ 脳</h1>
</header>


<main>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
  <div class="sir"></div>
</main>


<div class="">
  <%= partial :particle %>
</div>

<%# <%= link_to( "Read Documentation", "https://middlemanapp.com/basics/templating_language/", target: "_blank" ) %>
